In [1]:
import pandas as pd
df = pd.read_csv("Salary_Data.csv")

In [2]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [3]:
x = df.drop('Salary', axis = 1)

In [4]:
y = df[['Salary']]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2) # Randomly split the dataset into two parts test and training with 20% in test and 80% in training

In [7]:
x_train

    YearsExperience
23              8.2
6               3.0
9               3.7
17              5.3
8               3.2
18              5.9
1               1.3
29             10.5
19              6.0
27              9.6
21              7.1
28             10.3
3               2.0
22              7.9
5               2.9
24              8.7
25              9.0
2               1.5
4               2.2
16              5.1
12              4.0
0               1.1
11              4.0
13              4.1

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
lr = LinearRegression()

In [10]:
lr.fit(x_train,y_train)

LinearRegression()

In [12]:
prediction = lr.predict(x_test)

In [13]:
prediction

array([[115582.71740482],
       [ 63155.10774794],
       [ 90305.11989168],
       [ 56601.65654083],
       [ 72517.18090095],
       [ 68772.35163975]])

In [15]:
y_test['prediction_salary'] = prediction

In [16]:
y_test

      Salary  prediction_salary
26  116969.0      115582.717405
10   63218.0       63155.107748
20   91738.0       90305.119892
7    54445.0       56601.656541
15   67938.0       72517.180901
14   61111.0       68772.351640

In [17]:
df2 = pd.concat([x_test,y_test], axis = 1)
df2

    YearsExperience    Salary  prediction_salary
26              9.5  116969.0      115582.717405
10              3.9   63218.0       63155.107748
20              6.8   91738.0       90305.119892
7               3.2   54445.0       56601.656541
15              4.9   67938.0       72517.180901
14              4.5   61111.0       68772.351640

In [27]:
lr.score(x_train,y_train) # Train Score

0.9548353376331947

In [31]:
lr.score(x_test,y_test['Salary']) # Test Score

0.9689184727652744